.createFarmButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 150px;
  font-family: sans-serif;
  background-color: rgba(43, 255, 0, 0.192);
  border-radius: 6px;
  margin: 0.2em;
}

.createFarmButton img {
  max-width: 30px;
  background-color: rgb(61, 202, 61);
  border-radius: 50%;
  padding: 0.4em;
  box-shadow: 0 0 5px 5px rgba(43, 255, 0, 0.185);
}

.controlButton {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 150px;
  max-width: 150px;
  border: solid transparent;
  margin: 0.2em;
  font-size: 1em;
  max-width: 110px;
  border-radius: 6px;
  max-height: 100px;
  transition: all 0.3s ease-in-out;
}

.controlButton img {
  max-width: 30px;
}

.controlButton:hover {
  background-color: rgba(43, 255, 0, 0.308);
}
