.farm__cropsDashboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1em;
}

.farm__cropsDashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: whitesmoke;
  border-radius: 5px;
  overflow-y: scroll;
  width: 80vw;
  height: 70vh;
  margin: 1em;
}

.farm__cropsDashboard::-webkit-scrollbar {
  display: none;
}

.farm__cropslabel {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: sans-serif;
  position: relative;
  top: -5vh;
}

.farm__cropslabel h2 {
  position: relative;
  left: 10%;
  border-bottom: solid 2px rgb(61, 202, 61);
}

.farm__cropslabel span p {
  background-color: rgb(61, 202, 61);
  padding: 0.1em;
  color: white;
}

/* Form styles */

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px 2px whitesmoke;
  max-width: 300px;
  padding: 2em;
  border-radius: 6px;
}

.formStyle input {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border: solid 1px black;
  border-radius: 6px;
}

.formStyle input:focus {
  outline: none;
}

.formStyle button {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border: solid transparent;
  width: 100%;
  border-radius: 6px;
  background-color: rgb(118, 252, 118);
}

/* Form styles end */

@media screen and (max-width: 400px) {
  .farm__cropsDashboard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
