.mainDashboardPage {
  max-height: 95vh;
  overflow: hidden;
}

.mainDashboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.dashboardLabel__context {
  font-family: sans-serif;
  position: relative;
  top: -4.5vh;
  left: 10vw;
  max-width: 80px;
  border-bottom: solid 2px rgb(61, 202, 61);
}

.FarmsShowSomething {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
  position: relative;
  top: -10vh;
  overflow-y: scroll;
}

.FarmsShowerNoFarms {
  margin-top: 1em;
  margin-right: 1em;
  background-color: whitesmoke;
  border-radius: 6px;
  width: 80vw;
  height: 100vh;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FarmsShowerFarms {
  margin-top: 1em;
  margin-right: 1em;
  background-color: whitesmoke;
  border-radius: 6px;
  width: 80vw;
  height: 100vh;
  padding-bottom: 80px;
  max-height: 70vh;
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow-y: scroll;
}

.FarmsShowerFarms::-webkit-scrollbar {
  display: none;
}

.noFarmShower img {
  min-width: 50px;
  max-width: 50px;
}

.modalsContainer {
  position: relative;
  top: -10vh;
}

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px 2px whitesmoke;
  max-width: 300px;
  padding: 2em;
  border-radius: 6px;
}

.formStyle input {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border: solid 1px black;
  border-radius: 6px;
}

.formStyle input:focus {
  outline: none;
}

.formStyle button {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border: solid transparent;
  width: 100%;
  border-radius: 6px;
  background-color: rgb(118, 252, 118);
}

@media screen and (max-width: 400px) {
  .FarmsShowerFarms {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: scroll;
  }
}
