.mainDashboardPage {
  max-height: 95vh;
  overflow: hidden;
}

.mainDashboardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.FarmsShowSomething {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.FarmsShowerNoFarms {
  margin-top: 1em;
  margin-right: 1em;
  background-color: whitesmoke;
  border-radius: 6px;
  width: 80vw;
  height: 100vh;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FarmsShowerFarms {
  margin-top: 1em;
  margin-right: 1em;
  background-color: whitesmoke;
  border-radius: 6px;
  width: 80vw;
  height: 100vh;
  padding-bottom: 30px;
  max-height: 80vh;
  display: grid;
}
.noFarmShower img {
  min-width: 50px;
  max-width: 50px;
}

.modalsContainer {
  position: relative;
  top: -10vh;
}

.formStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px 2px whitesmoke;
  max-width: 300px;
  padding: 2em;
  border-radius: 6px;
}

.formStyle input {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border: solid 1px black;
  border-radius: 6px;
}

.formStyle input:focus {
  outline: none;
}

.formStyle button {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  border: solid transparent;
  width: 100%;
  border-radius: 6px;
  background-color: rgb(118, 252, 118);
}
