/* NotAuthCard stuffs */
.notAuthCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20vh;
}

.notAuthCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  height: 150px;
  font-family: sans-serif;
  box-shadow: 0 0 3px 2px whitesmoke;
  padding: 1em;
  border-radius: 5px;
}

.notAuthCard div {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.notAuthCard button {
  border: solid transparent;
  background-color: rgb(118, 252, 118);
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-size: 1em;
  min-width: 120px;
  max-width: 120px;
}

/* NotAuthCard stuffs end */

/* Modal Stuff */
.modalSkeleton {
  position: relative;
  z-index: 20;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  box-shadow: 0 0 3px 2px whitesmoke;
}

.modalSkeletonClosed {
  position: relative;
  z-index: 20;
  top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  box-shadow: 0 0 3px 2px whitesmoke;
  display: none;
}
/* Modal Stuff end */
