/* NotAuthCard stuffs */
.notAuthCardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20vh;
}

.notAuthCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
  height: 150px;
  font-family: sans-serif;
  box-shadow: 0 0 3px 2px whitesmoke;
  padding: 1em;
  border-radius: 5px;
}

.notAuthCard div {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.notAuthCard button {
  border: solid transparent;
  background-color: rgb(118, 252, 118);
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
  font-size: 1em;
  min-width: 120px;
  max-width: 120px;
}

/* NotAuthCard stuffs end */

/* Modal Stuff */
.modalSkeleton {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  box-shadow: 0 0 3px 2px whitesmoke;
  background-color: white;
  padding: 1em;
  border-radius: 5px;
  left: 20px;
  transition: all 0.2s ease-in-out;
  animation-name: go-up;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes go-up {
  from {
    top: -30vh;
    opacity: 0;
  }

  to {
    top: -40vh;
    opacity: 1;
  }
}

.modalSkeletonClosed {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  box-shadow: 0 0 3px 2px whitesmoke;
  transition: all 0.2s ease-in-out;
  animation-name: go-down;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes go-down {
  from {
    top: -40vh;
    opacity: 1;
  }

  to {
    top: -30vh;
    opacity: 0;
    display: none;
  }
}

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Modal Stuff end */
